<div class="container">
    <div class="well">
        <h2>{{Name}}</h2>

        {{#if MediaFiles}}
            {{#each MediaFiles}}
                <div class="imgLiquid" style="width:500px; height:350px;">
                    <img src="{{UrlPath}}" style="float: left"/>
                </div>
            {{/each}}
        {{else}}
            NO IMAGES
        {{/if}}
        <div id="album-info">
            <div class="album-author">
                <span class="album-author-label">Author: </span><a>{{Author}}</a>
            </div>
            <div class="album-createdOn">
                <span class="album-createdOn-label">Created On: </span><a>{{CreatedOn}}</a>
            </div>
        </div>
    </div>
</div>